server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb+srv://phuclnoucamp5002942_db_user:UCo7c3REhcJEzhCh@tingting.sspibcu.mongodb.net/TingTing?retryWrites=true&w=majority

logging:
  level:
    org.springframework.data.mongodb.core: DEBUG
