name: CICD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Project
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -t phucngo249/chatting-backend:latest .

      - name: Push image to Docker Hub
        run: docker push phucngo249/chatting-backend:latest

  deploy:
    needs: build
    runs-on: [ aws-ec2 ]

    steps:
      - name: Pull image
        run: docker pull phucngo249/chatting-backend:latest

      - name: Stop old container
        run: docker stop chatting-backend || true

      - name: Remove old container
        run: docker rm chatting-backend || true

      - name: Run new container
        run: docker run -d \
          -p 8080:8080 \
          --name chatting-backend \
          phucngo249/chatting-backend:latest
